.container {
  width: 85%;
  margin: 0 auto 0 auto;

  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.navbarBrand {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  color: #0c2a4a;
  font-size: 0.9rem;
}

.navbarRight {
  cursor: not-allowed;
}

.sidebar {
  width: 25%;
}

.projectPhoto {
  border-radius: 0.75rem 0.75rem 0 0;
  height: 14rem;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #000, #000);
  background: linear-gradient(to right, #000, #000);
  background-size: cover;
  background-repeat: no-repeat;
}

.projectName {
  border-radius: 0 0 0.75rem 0.75rem;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  padding: 0.75rem 0.9rem;
}

.tree {
  display: flex;
}

.treeOffset {
  width: 1.5rem;
}

.verticalBar {
  width: 5px;
  background-color: #000;
}

.treeRows {
  width: 100%;
}

.treeRow {
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
}

.horizontalBar {
  height: 4px;
  width: 1rem;
  background-color: #000;
}

.tab {
  padding: 0.4rem 0.7rem;
  border: 3px solid #000;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab:hover {
  background-color: rgba(12, 42, 75, 0.35);
}

.tabCheck {
  display: none;
}

.activeTreeRow .horizontalBar {
  background: linear-gradient(90deg, #000 0%, #0c2a4a 69%);
}

.activeTreeRow .tab {
  background-color: #0c2a4a;
  border-color: #0c2a4a;
  color: #fff;
  font-weight: 700;
}

.activeTreeRow .tab .tabCheck {
  display: block;
}

.tabName {
  font-size: 1rem;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .container {
    flex-wrap: wrap;
    gap: 2rem 2%;
    width: 90%;
  }

  .sidebar {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    order: 2;
  }
}
